<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Components</title>
    <link rel="stylesheet" type="text/css" href="<%= res_url("css/ki.scss") %>"/>
</head>
<body>

<script type="text/javascript" src="<%= res_url("js/jquery-1.8.3.js") %>"></script>
<script type="text/javascript" src="<%= res_url("js/Bacon.coffee") %>"></script>
<script type="text/javascript" src="<%= res_url("js/page/components.coffee") %>"></script>

<script id="component" type="text/template">
<p>
    Component: <span class="name">TEST</span>
</p>
</script>

</body>
</html>


