<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Components</title>
    <link rel="stylesheet" type="text/css" href="<%= res_url("css/ki.scss") %>"/>
</head>
<body>

<script type="text/javascript" src="<%= res_url("js/jquery-1.8.3.js") %>"></script>
<script type="text/javascript" src="<%= res_url("js/Bacon.coffee") %>"></script>
<script type="text/javascript" src="<%= res_url("views/repository.coffee") %>"></script>

<script id="t-components-top" type="text/template">
    <div>
        <a class="components">Components</a>
        <hr/>
        <h3>Components</h3>
        <p id="component-list">
        </p>
    </div>
</script>

<script id="t-components" type="text/template">
<div>
    <p>
        Component: <a class="name">TEST <span class="s"></span></a>
    </p>
</div>
</script>

<script id="t-component" type="text/template">
    <div>
        <a class="components">Components</a> &gt;
        <span class="componentName">componentName</span>
        <hr/>
        <h3>Versions</h3>
        <p id="version-list">
        </p>
    </div>
</script>

<script id="t-version" type="text/template">
    <div>
        - Version: <p class="id">
        </p>
    </div>
</script>

<div id="content"></div>

</body>
</html>


