<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>ki-flow: Continuous Integration and Continuous Delivery</title>
    <meta name="description" content="ki-flow is a Continuous Integration and Continuous Delivery platform." />
    <meta name="google-site-verification" content="YmzkyBWGXV_Q_qqEFG6_SEtouMMWDRpkiGncI3mV6Ww" />

    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/pygment_trac.css">
    <script src="javascripts/scale.fix.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="/atom.xml" type="application/atom+xml" rel="alternate" title="ki-flow">
    <link href="/rss.xml" rel="alternate" type="application/rss+xml" title="ki-flow" />
</head>
<body>
<div class="wrapper">
    <header>
        <h1 class="header"><a href="/">ki-flow</a></h1>
        <p class="header"></p>

        <ul>
<!--            <li class="download"><a class="buttons" href="https://github.com/mikko-apo/ki-flow/zipball/master">Download ZIP</a></li>
            <li class="download"><a class="buttons" href="https://github.com/mikko-apo/ki-flow/tarball/master">Download TAR</a></li>
-->            <li><a class="buttons github" href="https://github.com/mikko-apo/ki-flow">View On GitHub</a></li>
        </ul>

        <p class="header">Copyright 2012 <a class="header name" href="https://github.com/mikko-apo">Mikko Apo</a></p>


    </header>
    <section>
        {{ content }}
    </section>
    <footer>
        <p><small>Hosted on <a href="https://pages.github.com">GitHub Pages</a> using the Dinky theme</small></p>
    </footer>
</div>
<!--[if !IE]><script>fixScale(document);</script><![endif]-->
<script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
    try {
        var pageTracker = _gat._getTracker("UA-37238120-1");
        pageTracker._trackPageview();
    } catch(err) {}
</script>

</body>
</html>